<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Esquemas</servlet-name>
        <servlet-class>Controller.Esquemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tablas</servlet-name>
        <servlet-class>Controller.Tablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEsquemas</servlet-name>
        <servlet-class>Controller.EditarEsquemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarEsquemas</servlet-name>
        <servlet-class>Controller.BorrarEsquemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Columna</servlet-name>
        <servlet-class>Controller.Columna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerTablas</servlet-name>
        <servlet-class>Controller.VerTablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Irtablas</servlet-name>
        <servlet-class>Controller.Irtablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTablas</servlet-name>
        <servlet-class>Controller.EditarTablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarTablas</servlet-name>
        <servlet-class>Controller.BorrarTablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Columnas</servlet-name>
        <servlet-class>Controller.Columnas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarColumnas</servlet-name>
        <servlet-class>Controller.EditarColumnas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarColumnas</servlet-name>
        <servlet-class>Controller.BorrarColumnas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeloNavegacion</servlet-name>
        <servlet-class>Controller.ModeloNavegacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextoNavegacion</servlet-name>
        <servlet-class>Controller.ContextoNavegacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidadAbstractaInformacion</servlet-name>
        <servlet-class>Controller.UnidadAbstractaInformacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Punto4</servlet-name>
        <servlet-class>Controller.Punto4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Esquemas</servlet-name>
        <url-pattern>/Esquemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tablas</servlet-name>
        <url-pattern>/Tablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEsquemas</servlet-name>
        <url-pattern>/EditarEsquemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarEsquemas</servlet-name>
        <url-pattern>/BorrarEsquemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Columna</servlet-name>
        <url-pattern>/Columna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerTablas</servlet-name>
        <url-pattern>/VerTablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Irtablas</servlet-name>
        <url-pattern>/Irtablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTablas</servlet-name>
        <url-pattern>/EditarTablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarTablas</servlet-name>
        <url-pattern>/BorrarTablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Columnas</servlet-name>
        <url-pattern>/Columnas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarColumnas</servlet-name>
        <url-pattern>/EditarColumnas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarColumnas</servlet-name>
        <url-pattern>/BorrarColumnas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeloNavegacion</servlet-name>
        <url-pattern>/ModeloNavegacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextoNavegacion</servlet-name>
        <url-pattern>/ContextoNavegacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidadAbstractaInformacion</servlet-name>
        <url-pattern>/UnidadAbstractaInformacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Punto4</servlet-name>
        <url-pattern>/Punto4</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>